<h1> <%= "#{@project.name}: Manage Members" %> </h1>

<ol class="breadcrumb">
  <li> <%= link_to "Projects", projects_path %> </li>
  <li> <%= link_to @project.name, project_path(@project) %> </li>
  <li class="active"> Memberships </li>
</ol>

<div class="row">
  <div class="col-sm-5">
    <%= render "error" %>
    <div class="well">
      <%= render "form" %>
    </div>
  </div>
</div>

<%= render @memberships %>
