<header class="page-header">

  <div class="pull-right">
    <%= link_to export_path, class:"btn btn-info span" do %>
      <span class="glyphicon glyphicon-download-alt"></span>
      <span>Download CSV</span>
    <% end %>

    <%= link_to 'New Task', new_task_path, class:"btn btn-info" %>
  </div>

    <div class="pull-right" style="margin-right:10px;" >
      <div style="line-height:2.5">
      <%= link_to 'All', tasks_path(tasks_filter_params({"filter_completed" => nil})), class:("active-link" if @active_link == "All") %>
      |
      <%= link_to 'Incomplete', tasks_path(tasks_filter_params({"filter_completed" => true})), class:("active-link" if @active_link == "Incomplete") %>
      </div>
    </div>
  <h1>Tasks</h1>
</header>

<table class="table">
  <thead>
    <tr>
      <th><%= link_to "Description", tasks_path(tasks_filter_params({"order_by" => "description"})) %></th>
      <th><%= link_to "Completed", tasks_path(tasks_filter_params({"order_by" => "completed"})) %></th>
      <th><%= link_to "Due", tasks_path(tasks_filter_params({"order_by" => "due_date"})) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @tasks %>
  </tbody>
</table>

<br>
