<header class="page-header">
  <%= link_to 'New Task', new_task_path, class:"btn btn-info pull-right" %>
  <div class="pull-right">
    <%= link_to 'All', tasks_path, class:"btn"%> | <%= link_to 'Incomplete', tasks_path, class:"btn" %>
  </div>
  <h1>Listing tasks</h1>

</header>



<table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Completed</th>
      <th>Due</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.description %></td>
        <td><%= task.completed %></td>
        <td><%= task.due_date.strftime("%m/%d/%Y") unless task.due_date.nil? %></td>
        <td>
          <%= link_to 'Destroy', task, class:"btn btn-danger pull-right", method: :delete, data: { confirm: 'Are you sure?' } %>
          <%= link_to 'Edit', edit_task_path(task),  class:"btn btn-info pull-right" %>
          <%= link_to 'Show', task, class:"btn btn-success pull-right" %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
