<div class="col-sm-offset-3">


  <div class="col-sm-7">

    <div class="well">
      <h2>Sign Up for gCamp!</h2><br>

      <% if @user.errors.any? %>
        <ul class="list-unstyled alert alert-danger">
          <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      <% end %>

      <%= form_for @user, url:{action: "create"} do |f| %>
        <div class="form-group">
          <%= f.label :first_name, class:"control-label" %>
          <%= f.text_field :first_name, class:"form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :last_name, class:"control-label" %>
          <%= f.text_field :last_name, class:"form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :email, class:"control-label" %>
          <%= f.text_field :email, class:"form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password, class:"control-label" %>
          <%= f.password_field :password, class:"form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, class:"control-label" %>
          <%= f.password_field :password_confirmation, class:"form-control" %>
        </div>

        <%= f.submit "Sign Up", id:"submit-user", class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
