<div class="col-sm-offset-3">


  <div class="col-sm-7">

    <div class="well">
      <h2>Sign into gCamp!</h2><br>

      <% if flash[:alert] %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
      <% end %>

      <%= form_tag signin_path do %>
        <div class="form-group">
          <%= label_tag :email, nil, class:"control-label" %>
          <%= email_field_tag :email, "", class:"form-control" %>
        </div>

        <div class="form-group">
          <%= label_tag :password, nil, class:"control-label" %>
          <%= password_field_tag :password, "", class:"form-control" %>
        </div>

        <%= submit_tag "Sign In", id:"submit-user", class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
