<header>
  <div class="pull-right">
    <%= link_to "Edit", edit_project_path(@project), class:"btn btn-info", id:"edit-project-action" %>
    <%= link_to "Delete", @project, class:"btn btn-danger", id:"delete-project-action", method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <h1><%= @project.name %></h1>
</header>

<ol class="breadcrumb">
  <li> <%= link_to "Projects", projects_path %> </li>
  <li class="active"> <%= @project.name %> </li>
</ol>


<%= link_to "#{pluralize(@project.tasks.count, "Task")}", project_tasks_path(@project), id:"task-index-action" %><br>
<%= link_to "#{pluralize(@project.memberships.count, "Member")}", project_memberships_path(@project) %>
